<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/About">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:winnie1419@gmail.com">Email</a></li>
				<li><a href="https://www.linkedin.com/in/winnie-zheng-12b2a0127/">LinkedIn</a></li>
	        		<li><a href="https://github.com/winnie-zheng">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
